/* Add application styles & imports to this file! */
.tabs__titles {
  flex: 1 1 0;
  flex-direction: row;
  margin-bottom: 10px;
}
.tabs__title {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #333
}
.tabs__title--active {
  border-bottom: 2px solid #ff2222;
}
.tabs__content {
  background-color: blue;
}
